* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: grey;
}

/*Navigational Bar*/
#nav-bar {
	list-style-type: none;
	background-color: black;
	color: white;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	margin: 0;
  	padding: 0;
  	position: fixed;
  	top: 0;
  	width: 100%;
}

.navbar-list {
	float: left;
	color: white;
	text-align: middle;
	margin: auto;
	padding: 14px 16px;
	font-size: 13px;
}

.navbar-list:hover {
	background-color: white;
	color: black;
	transition: 0.4s;
	transition-timing-function: linear;
	text-decoration: line;
}

/*About Me*/

#profile {
	display: flex;
	flex-direction: row;
	padding-left: 80px;
	padding-right: 80px;
 	padding-bottom: 30px;
 	background-color: white;
 	margin: 60px 180px 0px 180px;
 }
 

#about-me {
	margin-top: 44px;
	padding-top: 20px;
	width: 400px;

}

#profile-pic {
	height: 350px;
	width: 250px;
	margin-top: 20px;

}

#profile-description {
	padding: 20px 80px 20px 80px;
	text-align: justify;
	border-style: solid;
	margin: 20px 350px 20px 350px;
	background-color: white;
}

#download-cv {
	padding: 5px;
	background-color: green;
	color: white;
	margin-top: 10px;
}

/*Responsive Navbar Settings on Mobile Phone*/

@media only screen and (max-width: 360px) {
  
/*Nav Bar*/
  #nav-bar {
  	flex-direction: column;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
  	width: 100%;
  }

  #profile {
  	display:flex;
  	flex-direction: column-reverse;
  	justify-content: center;
  	padding: 10px;
  }
}

/*Profile Page*/
 #about-me {
 	padding-left: 10px;
  	padding-right: 10px;
  	font-size: 12px;
  	width: 200px;
 }

 #introduction {
 	padding: 7px;
 }

 #icon-introduction {
 	padding: 5px;
 }

 #profile-pic {
 	margin-top: 200px;
 	width: auto;
 }